button {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: none;
    background-color: #FFDDCC;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    font-family: "Nunito", sans-serif;

}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    gap: 10px;
    padding: 10px
}

#calculator {
    background-color: #FEBBCC;
    font-family: "Nunito", sans-serif;
    max-width: 500px;
    border-radius: 20px;
    overflow: hidden;

}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#display {
    width: 100%;
    padding: 20px;
    border: none;
    background-color: #FFCCCC;
    font-size: 30px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
}

button:hover {
    background-color: #ffffff;

}

.operator-btn {
    background-color: #FFEECC;
}